.build: &build
  image: docker:latest
  stage: build
  services:
    - docker:dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - docker build --pull -t "$CI_REGISTRY_IMAGE:$PHP_VERSION" --target vanilla --build-arg=PHP_VERSION="$PHP_VERSION" .
    - docker build --pull -t "$CI_REGISTRY_IMAGE:$PHP_VERSION-composer" --target composer --build-arg=PHP_VERSION="$PHP_VERSION" .
    - docker push "$CI_REGISTRY_IMAGE:$PHP_VERSION"
    - docker push "$CI_REGISTRY_IMAGE:$PHP_VERSION-composer"

.test: &test
  image: $CI_REGISTRY_IMAGE:$PHP_VERSION-composer
  stage: test
  before_script:
    - composer update
  script:
    - vendor/bin/phpunit tests/

build-7.3:
  <<: *build
  variables:
    PHP_VERSION: "7.3"

test-7.3:
  <<: *test
  variables:
    PHP_VERSION: "7.3"

build-7.2:
  <<: *build
  variables:
    PHP_VERSION: "7.2"

test-7.2:
  <<: *test
  variables:
    PHP_VERSION: "7.2"

build-7.1:
  <<: *build
  variables:
    PHP_VERSION: "7.1"

test-7.1:
  <<: *test
  variables:
    PHP_VERSION: "7.1"
