image: docker:latest

services:
  - docker:dind

before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY

.build:
  stage: build
  script:
    - docker build --pull -t "$CI_REGISTRY_IMAGE:$PHP_VERSION" --target vanilla --build-arg=PHP_VERSION="$PHP_VERSION" .
    - docker build --pull -t "$CI_REGISTRY_IMAGE:$PHP_VERSION-composer" --target composer --build-arg=PHP_VERSION="$PHP_VERSION" .
    - docker push "$CI_REGISTRY_IMAGE:$PHP_VERSION"

build-7.4:
  allow_failure: true
  extends: .build
  variables:
    PHP_VERSION: "7.4"

build-7.3:
  extends: .build
  variables:
    PHP_VERSION: "7.3"

build-7.2:
  extends: .build
  variables:
    PHP_VERSION: "7.2.15"

build-7.1:
  extends: .build
  variables:
    PHP_VERSION: "7.1"
