stages:
  - build
  - test
  - release

.build: &build
  image: docker:latest
  stage: build
  services:
    - docker:dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - docker build --pull -t "$CI_REGISTRY_IMAGE:$PHP_VERSION-rc" --target vanilla --build-arg=PHP_VERSION="$PHP_VERSION" .
    - docker build --pull -t "$CI_REGISTRY_IMAGE:$PHP_VERSION-composer-rc" --target composer --build-arg=PHP_VERSION="$PHP_VERSION" .
    - docker push "$CI_REGISTRY_IMAGE:$PHP_VERSION-rc"
    - docker push "$CI_REGISTRY_IMAGE:$PHP_VERSION-composer-rc"

.test: &test
  image: $CI_REGISTRY_IMAGE:$PHP_VERSION-composer-rc
  stage: test
  before_script:
    - composer update --ignore-platform-reqs
  script:
    - vendor/bin/phpunit tests/

.release: &release
  image: docker:latest
  stage: release
  services:
    - docker:dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    # vanilla
    - docker pull $CI_REGISTRY_IMAGE:$PHP_VERSION-rc
    - docker tag $CI_REGISTRY_IMAGE:$PHP_VERSION-rc $CI_REGISTRY_IMAGE:$PHP_VERSION
    - docker push "$CI_REGISTRY_IMAGE:$PHP_VERSION"
    # composer
    - docker pull $CI_REGISTRY_IMAGE:$PHP_VERSION-composer-rc
    - docker tag $CI_REGISTRY_IMAGE:$PHP_VERSION-composer-rc $CI_REGISTRY_IMAGE:$PHP_VERSION-composer
    - docker push "$CI_REGISTRY_IMAGE:$PHP_VERSION-composer"
  only:
    - master

build-8.2:
  <<: *build
  variables:
    PHP_VERSION: "8.2"

test-8.2:
  <<: *test
  needs:
    - build-8.2
  variables:
    PHP_VERSION: "8.2"

release-8.2:
  <<: *release
  needs:
    - test-8.2
  variables:
    PHP_VERSION: "8.2"

build-8.1:
  <<: *build
  variables:
    PHP_VERSION: "8.1"

test-8.1:
  <<: *test
  needs:
    - build-8.1
  variables:
    PHP_VERSION: "8.1"

release-8.1:
  <<: *release
  needs:
    - test-8.1
  variables:
    PHP_VERSION: "8.1"

build-8.0:
  <<: *build
  variables:
    PHP_VERSION: "8.0"

test-8.0:
  <<: *test
  needs:
    - build-8.0
  variables:
    PHP_VERSION: "8.0"

release-8.0:
  <<: *release
  needs:
    - test-8.0
  variables:
    PHP_VERSION: "8.0"

build-7.4:
  <<: *build
  variables:
    PHP_VERSION: "7.4"

test-7.4:
  <<: *test
  needs:
    - build-7.4
  variables:
    PHP_VERSION: "7.4"

release-7.4:
  <<: *release
  needs:
    - test-7.4
  variables:
    PHP_VERSION: "7.4"

build-7.3:
  <<: *build
  variables:
    PHP_VERSION: "7.3"

test-7.3:
  <<: *test
  needs:
    - build-7.3
  variables:
    PHP_VERSION: "7.3"

release-7.3:
  <<: *release
  needs:
    - test-7.3
  variables:
    PHP_VERSION: "7.3"

